body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    background-image: linear-gradient(43deg, #0000FF 0%, #7F00FF 46%, #A020F0 100%);
    -webkit-background-clip: text;
    color: transparent;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
.search-container {
  margin-bottom: 20px;
  text-align: center;
}

#search-bar {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

#search-bar:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);

#projects {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  margin: 0 auto; 
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  text-align: center;
}
    
section {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0073e6;
    color: white;
}
